# Ignore all PDFs and PNGs inside any Outputs folder (recursively)
**/Outputs/*.pdf
**/Outputs/*.png

# Python compiled files
*.pyc

# Python cache folders
__pycache__/

# Database files
*.db

# Ignore project Postgres DB
ProjectDBData/
ExcelInputs/
.env
*.xlsx

# Firebase configurations
firebase-service-account.json
student-6b67d-firebase-adminsdk-fbsvc-d709714bcb.json

/docs
/resume